body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: rgb(129, 129, 129);
}

.flex-end {
  justify-content: flex-end;
}

.name {
  font-weight: bolder;
}

.flex-start {
  justify-content: flex-start;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.coreicon {
  width: 60px;
  padding: 8px;
}

.socialmedia {
  width: 30px;
}

.nodotsul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}